.vscode/
build/
CppProperties.json
raylib
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/PersonalTraining/config/applicationhost.config
.vs/PersonalTraining/FileContentIndex/9fd9f268-1f3f-486d-87b6-b85cf61a4e54.vsidx
.vs/PersonalTraining/FileContentIndex/9943a294-e623-4203-9123-e35d6d3ff2a9.vsidx
.vs/PersonalTraining/FileContentIndex/d0882caf-95cf-45d5-bfb9-1d60131b930f.vsidx
.vs/PersonalTraining/FileContentIndex/read.lock
.vs/PersonalTraining/v17/.suo
.vs/PersonalTraining/v17/Browse.VC.db
.vs/PersonalTraining/v17/workspaceFileList.bin
.vs/PersonalTraining/v17/TestStore/0/000.testlog
.vs/PersonalTraining/v17/TestStore/0/testlog.manifest
raylib
raylib
out/
